body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin-top: 10px !important;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
}

.card-wish{ 
  display: flex;
  flex-direction: row;
}

.wishList {
  margin-left: 10px;
}

.create {
  margin-left: 10px;
  max-width: 600px;
}

.edit {
  margin-left: 10px;
  max-width: 600px;
}
<<<<<<< HEAD

=======
>>>>>>> 1b87de209f65594a07dd561455427b084f3d80b9
.vacationDetail {
  text-align: center;
}
.allVacations {
  text-align: center;
<<<<<<< HEAD
  width: 25rem;
}

.vacations {
  margin-left: 10px;
}

.vacation-add{
  margin-left: 10px;
  max-width: 600px;
}

.headline{
  text-align: center;
}

.slideshow {
  align-content: center;
  max-width: 800px;
  border: 10px;
  border-color: black;
  margin:0 auto
}

=======
}
#signuph1 {
  text-align: center;
}
#signinh1 {
  text-align: center;
}
#signinbutton {
  margin-top: 10px;
}
#signupbutton {
  margin-top: 10px;
}
>>>>>>> 1b87de209f65594a07dd561455427b084f3d80b9
